@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Tilt+Neon&display=swap');
/* Styles for the main section */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}
/* Styles for the logo section */
.center {
  backdrop-filter: blur(-1000px);
}
.logo {
  backdrop-filter: blur(-1000px);
}

/* Styles for the description section */
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.description a {
  text-decoration: none;
}
.description a:hover {
  color: #f06021;
  text-decoration: none;
}

/* Styles for the weather cards */
.weatherCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.weatherItems {
  margin: 0.5rem;
  padding: 1rem;

  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weatherCard img {
  margin: 1rem;
}

.weatherCard p {
  font-size: 1.1rem;
}

.weatherCard div {
  text-align: center;
}

@media (max-width: 768px) {
  .weatherItems {
    flex-basis: 100%;
  }
}